# 1. City = [‘Gurgaon’, ’Mumbai’, ’Bangalore’]

i) Print the second item from the list.
ii) Change the value from "Gurgaon" to "Kerala"
iii) Remove the last element of the list.

In [7]:
 City = ['Gurgaon','Mumbai','Bangalore']
    
#1)
print(City[1])

Mumbai

In [12]:
#ii)

City.remove('Gurgaon')
City.insert(0,'Kerela')
print(City)

['Kerela', 'Mumbai', 'Bangalore']

In [13]:
#iii)

City.remove(City[-1])
print(City)

['Kerela', 'Mumbai']

# 2. Use negative indexing to print the last item in the list. Make a list by yourself.

In [14]:
fruits = ["Apple","Mango","Kiwi","Orange"]

print(fruits[-1])

Orange

# 3. Use a range of indexes to print the third, fourth, and fifth  item in the list. Make a list by yourself.

In [16]:
fruits = ["Apple","Mango","Kiwi","Orange","Banana","Pineapple"]

print(fruits[2:5])

['Kiwi', 'Orange', 'Banana']

# 4. Remove the last element from the city list

In [17]:
City.remove(City[-1])

print(City)

['Kerela']

# 5. fruits=[‘apple’,’lichi’,’guava’,’cherry’,’mango’,’watermelon’,’banana’]
i) Add "orange" at the end of the above list.
ii) Add "lemon" as the second item in the fruits list

In [18]:
fruits=['apple','lichi','guava','cherry','mango','watermelon','banana']

#i)

fruits.append('orange')
print(fruits)

['apple', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

In [19]:
#ii)

fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

# 6. Remove ‘cherry’ from the fruit list given above.

In [20]:
fruits.remove("cherry")

print(fruits)

['apple', 'lemon', 'lichi', 'guava', 'mango', 'watermelon', 'banana', 'orange']

# 7. Write the python program to let the user input a list of numbers and print the list in descending order.

In [25]:
n  = int(input("enter number of elements in list   "))   #number of elements

print("Enter the elements:   ")

l = []

for i in range(n):    #taking elements from user and inserting in list
    t = int(input())
    l.append(t)

l.sort(reverse=True)   #sort in descending order
print(l)

enter number of elements in list   10
Enter the elements:
1
12
32
45
65
14
78
98
5
0
[98, 78, 65, 45, 32, 14, 12, 5, 1, 0]

# 8. Write the python program to let the user input two lists and combine both the lists.

In [31]:
n  = int(input("enter number of elements for first list   "))   #number of elements for first list

print("Enter the elements:   ")

l1 = []

for i in range(n):    #taking elements from user and inserting in list
    t = input()
    l1.append(t)

m  = int(input("enter number of elements for second list   "))   #number of elements for second list

print("Enter the elements:   ")

l2 = []

for i in range(m):    #taking elements from user and inserting in list
    t =input()
    l2.append(t)
    
#combining two lists
print("-----new list------")
l3 = l1+l2
print(l3)

enter number of elements for first list   5
Enter the elements:
13
21
mumbai
orange
1
enter number of elements for second list   4
Enter the elements:
1
24
rohit
kiwi
-----new list------
['13', '21', 'mumbai', 'orange', '1', '1', '24', 'rohit', 'kiwi']

# 9. List = [10, 45, 78, 11, 9, 23]. Shuffle this list.

In [32]:
import random #importing lib for shuffle function

l = [10, 45, 78, 11, 9, 23]
random.shuffle(l)

print(l)

[9, 23, 11, 78, 45, 10]

# 10. x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
i) What is the expression that returns the 'z' in 'baz'?
ii) What expression returns the list ['baz', 2.718]?

In [35]:
#i)
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

print(x[1][2][1][-1])

z

In [36]:
#ii)

print(x[1][2][1:])

['baz', 2.718]

# 11. Extract element 20 from the above list.

In [37]:
print(x[1][1])

20

# 12. You have a list a = [1, 2, 7, 8]
Write a Python statement using slice assignment that will fill in
the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8]

In [40]:
a = [1, 2, 7, 8]

a[2:6] = [3,4,5,6]

a[6:8] = [7,8]

print(a)

[1, 2, 3, 4, 5, 6, 7, 8]